@font-face {
    font-family: 'OpenSans-regular';
    src: url('../../../../../../../thirdparty/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-bold';
    src: url('../../../../../../../thirdparty/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../../../../../../../thirdparty/fonts/Poppins/Poppins-Regular.ttf');
}

body, #side-menu-container, #main-content-container {
    background-color: white;
}

body, input[type=text] {
    color: #4D4D4E;
    font-family: 'OpenSans-regular', Arial, sans-serif !important;
}
h1 {
    font-family:'Poppins-bold', Arial, sans-serif;
}

h2, h3, h4 {
    font-family:'Poppins', Arial, sans-serif;
}

footer {
    background-size: cover;
    padding: 2em;
    margin: 0%;
}

#copyright, footer div ul li {
    background-color: white;
    color:#f47920;
}

.simple {
    list-style: none;
    padding-left: 0px;
}

a:hover {
    font-style: italic;
}

.sig-object {
    width: 100%;
}

.field-odd {
    background-color: transparent !important;
    font-weight: bold;
}

.admonition.note {
    color: #4D4D4E;
    /* background-color: #989898 !important; */
    background-color: #fcaf17 !important;
}

#main-content {
    border-style: solid;
    border-width: 5px 0px 5px 0px;
    border-color: #f47920;
}

#side-menu-container {
    color: white;
}

input[type=text] {
    background-color: white; 
    font-size: 18px !important;
    padding: 2px;
}

#search {
    padding-bottom: 0px;
}

#side-menu-container, #content-container {
    background-color: #4d4d4e !important;
}

/* Hide source and credits */
.footer-element, #credit, #ble-profiles {
    display: none;
}